// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~@icon/icofont/icofont.css';
@import '~video.js/src/css/video-js.scss';

.hidden {
    display: none;
}

.record-card-status {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    font-size: 500%;
}

.vjs-controls-enabled {
    width: 100%;
    height: 250px;
    max-width: 100%;
    max-height: 250px;
}

.btn {
    &.active {
        border-color: #FF0000;
    }
}
